/*Style*/
body{
    background-color: #f5f7f8;
  color:#505259;
}
header{
  color:#505259;
  background-color: #fff;
}
.avatar{
    border:1px solid #505259;
}
.menu{
  background-color: #505259;
}
footer{
    background-color: #303235;
  color:#fff;
}
hr{
    background-color: #C9C9C9;
}
h2:before {
    background-image: url(../images/iconosH2.png);
}
.link-txt, .link-txt a, .link-txt a:visited{
    color:#3b3c3f;
}
.link-txt a:after {
    background-image: url(../images/icons-txt.png);
 }

::-moz-selection{
    background:#86D188;
}

::selection{
    background:#86D188;
}



/*Accordion*/

.menu nav ul li a{
  color: rgba(255, 255, 255, 0.75);
}
.menu nav::-webkit-scrollbar-thumb:vertical {
background-color: #fff;
}
.sub-menu{
	background-color: rgba(139, 215, 144, 0.6);
}
.accordion > li:hover > a,
.accordion > li:target > a,
.accordion > li > a.active {
	background-color: #86D188;
	color:#fff;
}
.sub-menu > li:hover > a,
.sub-menu > li:target > a,
.sub-menu > li > a.active {
	background-color: rgba(139, 215, 144, 0.3);
	color:#fff;
}
.submenu2{
	background-color: rgba(80, 81, 89, 0.2);
	text-align: left;
	color: rgba(255, 255, 255, 0.75);

}
.accordion > li > a:before {
	background-image: url(../images/icons.png);
}


/*Forms*/

label, .display-label{
    color:#414244;
}
input:not(.button):not(.upload):not([type="submit"]), textarea, select {
    background-color: #ffffff;
    border: 1px solid #DBDBDB;
}

button, .button, input[type="submit"]{
	background-color:#8BD790;
    color:#fff;
    border:none;
}
.table{
	color:#737579;
}
table {
    background-color: #fff;
    border: 1px solid #ccc;
}
td, th {
    border: 1px solid #C9C9C9;
}
th {
    background-color: #a4a5a8;
    color: #fff;
}
input[type="radio"],
input[type="checkbox"] {
    border: 1px solid #DBDBDB;
}

input[type="radio"]:not(:disabled):hover,
input[type="checkbox"]:not(:disabled):hover {
    border-color:#DBDBDB;
}
input[type="radio"]:checked,
input[type="checkbox"]:checked {
    border-color:#DBDBDB
}
input[type="checkbox"]:checked:before {
    color: #505259;
}
.edit{
    background-image:url(../images/edit.png);
}
.details{
    background-image:url(../images/detail.png);
}
.delete{
    background-image:url(../images/delete.png);
}

.detail-list div div {
    background-color: #fff;
}

.detail-list div div:first-child {
    border-bottom:1px solid #e1e1e1;
}
.detail-list .display-label{
    background-color:#f5f7f8;
}

input[type=text]:focus, textarea:focus, input[type="checkbox"]:focus, input[type="radio"], select:focus, option:focus{
  border: 1px solid #8BD790;
}

table tr:hover{
    background-color:rgba(139, 215, 144, 0.16);
}

tfoot tr:hover{
    background-color:inherit;
}

.paging .pagination li a:hover{
    background-color:#86D188;
    color:#fff;
}

.addnew{
    color:#fff;
    background-color:#86D188;
}


input.delete-table{
	background-color:transparent;

    background-image:url('../images/delete-L.png');
}

/*Footable*/
.footable-odd {
  background-color: #f6f6f6;
  /*background-color: rgba(139, 215, 144, 0.1);*/
}
.pagination ul > li a{
  color:#505259;
}
.pagination ul > .active > a{
  background-color:#C9C9C9;
  color:#fff;
}
.footable.breakpoint > tbody > tr > td > span.footable-toggle {
  color: #888888;
}
.footable.breakpoint > tbody > tr > td.footable-cell-detail {
    background: #eee;
}

/*Hamburger*/
.c-hamburger span {
  background: #505259;
}
.c-hamburger span::before,
.c-hamburger span::after {
  background-color: #505259;
}
.c-hamburger--htx.is-active span::before {
  background-color: #fff;
}
.c-hamburger--htx.is-active span::after {
  background-color: #fff;
}


/*Modal*/
.ui-dialog{
    background-color:#f5f7f8;
}

.ui-widget-overlay { 
    background: #505259; 
    opacity: .4;
    filter:Alpha(Opacity=40); 
}